@model LexiElectronics.Models.Manufacturer
       
@{
    ViewData["Title"] = "Create manufacturer";
}

<partial name="adminMenuPartial" />
<div class="adminPage">
    <h2 class="adminHeader">Skapa en ny tillverkare</h2>
    <form asp-controller="Admin" asp-action="SaveCreatedManufacturer" method="post">
        @Html.AntiForgeryToken()
        <div style="max-width: 440px;">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    
            <div class="mb-3">
                <label asp-for="BrandName">Märke: *</label>
                <input asp-for="BrandName" class="form-control" placeholder="Märkesnamn" />
                <span asp-validation-for="BrandName" class="text-danger"></span>
            </div>               
            
            <div class="mb-3">
                <label asp-for="CompanyName">Företagsnamn: *</label>
                <textarea asp-for="CompanyName" class="form-control" placeholder="Ange ett företagsnamn."></textarea>
                <span asp-validation-for="CompanyName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button id="registerSubmit" type="submit" style="margin-top: 20px;" class="w-100 btn btn-lg btn-primary">
                    Skapa tillverkare
                </button>
            </div>
        </div> 
    </form>
    <a asp-action="AllManufacturers">Tillbaka till tillverkarelistan</a>
   
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



