@{
    ViewData["Title"] = "Contact us";
}
<div class="mainPage">
    <h1>Kontakta oss</h1>
    <p>Kontakta oss om du har frågor om våra produkter eller andra frågor</p>

    <form class="contactUsForm">
        <div class="mb-3">
            <label for="nameInput">Namn <span style="color: red;">*</span></label>
            <input type="text" name="nameInput" class="form-control" placeholder="Ange ditt namn" required                                                                          />
        </div>
        
        <div class="mb-3">
            <label for="emailInput">Epostadress <span style="color: red;">*</span></label>
            <input type="Email" name="emailInput" class="form-control"  placeholder="Ange din epostadress" required />
        </div>
        
        <div class="mb-3">
            <label for="phoneNbrInput">Mobilnr</label>
            <input type="text" name="phoneNbrInput" class="form-control" placeholder="Ange ditt mobilnr" />
        </div>

        <div class="mb-3">
            <label for="messageInput">Meddelande</label>
            <textarea name="messageInput" class="form-control" rows="5" placeholder="Skriv ditt meddelande"></textarea>
        </div>
        
        <div class="mb-3">
            <button class="btn btn-success" onClick="ContactUs()">Skicka</button>
        </div>

        <div id="contactMessage" class="hidden successMessage">Vi har mottagit ditt meddelande och hör av oss så fort vi får möjlighet!</div>
    </form>
</div>

<script>

    function ContactUs()
    {
        event.preventDefault(event);
        document.getElementById("contactMessage").classList.remove("hidden");
    }
</script>
